<ion-app>
  <ion-router-outlet></ion-router-outlet>
  
  <!-- Nav at Bottom -->
  <ion-footer class="native-bottom-nav">
    <ion-toolbar>
      <ion-segment value="home" class="native-bottom-segment">
        <ion-segment-button routerLink="/home" value="home">
          <ion-icon name="home"></ion-icon>
        </ion-segment-button>
        <ion-segment-button routerLink="/alerts" value="alerts">
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button routerLink="/map" value="map">
          <ion-icon name="map-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button routerLink="/defibilators" value="defib">
          <ion-icon name="heart-outline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
</ion-app>