/* Keep only map sizing here; buttons use global styles */
.emergency-map-container {
  width: 100%;
  height: calc(100vh - 160px);
  position: relative;

  /* Hide OpenLayers controls */
  ::ng-deep .ol-attribution {
    display: none !important;
  }

  ::ng-deep .ol-zoom {
    display: none !important;
  }

  ::ng-deep .ol-rotate {
    display: none !important;
  }
}
