<ion-header [translucent]="true">
  <ion-toolbar class="section-header">
    <ion-title>All Alerts</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="section">

    <!--Search bar with date picker-->
    <div class="search-container">
      <ion-searchbar 
        animated="true" 
        placeholder="Search for Alert"
        [(ngModel)]="searchTerm"
        (ionInput)="onSearchChange($event)"
        (ionClear)="clearSearch()">
      </ion-searchbar>
      
      <ion-button 
        id="date-trigger" 
        fill="clear" 
        class="date-picker-button">
        <ion-icon 
          slot="icon-only" 
          name="calendar-outline"
          [color]="selectedDateFilter ? 'primary' : 'medium'">
        </ion-icon>
      </ion-button>
    </div>
    <div class="active-filters" *ngIf="selectedDateFilter">
      <ion-chip color="primary">
        <ion-icon name="calendar"></ion-icon>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
    </div>



    <!--Filter Buttons section for severity filter options-->
    <ion-segment 
      [(ngModel)]="selectedSeverityFilter"
      (ionChange)="onFilterChange($event)">

      <ion-segment-button value="all" aria-label="All">
        <ion-icon name="alert-circle-outline" color="white"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="info" aria-label="General">
        <ion-icon name="information-circle-outline" color="medium"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="low" aria-label="Low">
        <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="moderate" aria-label="Moderate">
        <ion-icon name="alert-circle-outline" color="warning"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="high" aria-label="high">
        <ion-icon name="warning-outline" color="danger"></ion-icon>
      </ion-segment-button>

      <ion-segment-button value="urgent" aria-label="Urgent">
        <ion-icon name="alarm-outline" color="urgent"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  
    <div class="alerts-list">
      <ion-card
        *ngFor="let alert of alerts"
        [color]="getAlertSeverityColor(alert.severity)"
        class="feed-card" 
        (click)="openAlertDetailModal(alert)">
        <ion-card-content>
          <ion-icon [name]="getIcon(alert.category)"></ion-icon>
          <div class="feed-content">
            <div class="feed-header">
              <h3>{{ alert.category }}</h3>
              <ion-badge>{{ alert.severity }}</ion-badge>
            </div>
            <p>{{ alert.notes }}</p>
            <small>{{ alert.location.address }} • {{ getFormattedTimestamp(alert.timestamp) }}</small>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-infinite-scroll 
      threshold="100px" 
      (ionInfinite)="loadMoreAlerts($event)"
      [disabled]="infiniteScrollDisabled">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more alerts...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-modal trigger="date-trigger" #dateModal>
    <ng-template>
      <ion-datetime
        presentation="date"
        [(ngModel)]="selectedDateFilter">
        <ion-buttons slot="buttons">

        </ion-buttons>
      </ion-datetime>
    </ng-template>
  </ion-modal>
</ion-content>