// Prevent radio label wrapping
.minimalist-status label span {
  white-space: nowrap;
}
.defib-map-container {
  width: 100%;
  /* leave space for header + buttons */
  height: calc(100vh - 160px);
  position: relative;

  /* Hide OpenLayers controls */
  ::ng-deep .ol-attribution {
    display: none !important;
  }

  ::ng-deep .ol-zoom {
    display: none !important;
  }

  ::ng-deep .ol-rotate {
    display: none !important;
  }
}

input[type="radio"]:checked + span {
  color: var(--ion-color-primary, #3880ff);
  font-weight: 700;
}

input[type="radio"] {
  accent-color: var(--ion-color-primary, #3880ff);
}