.theme-dropdown-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 20px;
  text-align: center;
  color: var(--primary-title-colour);
  font-size: 15px;
}