.theme-dropdown-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 20px;
  text-align: center;
  color: var(--primary-title-colour);
  font-size: 15px;
}

.auth-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  margin-top: 24px;
}


.auth-button {
  display: block;
  width: 220px;
  height: 48px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: var(--light-text-colour);
  transition: background 0.2s;
  margin-bottom: 16px;

  &.secondary {
    background: var(--ion-color-danger);
    color: var(--light-text-colour);
    border: 1px solid var(--ion-color-danger);
  }

  &.danger {
    background: var(--ion-color-danger);
    color: var(--light-text-colour);
  }
}